# Node stuff
node_modules/
.env

# Ignore everything in storage, private, and public
storage/*
private/*
public/*

# But keep all .gitkeep files
*.gitkeep

# Also keep the specific thumb image
!public/essentials/thumb-movie.jpeg